#cf {
  position: relative;
  /* height: 100%;
  width: auto;
  margin: 0 auto; */
}

#cf img {
  position: absolute;
  max-width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  margin-left: -292px; /*image width/2 */
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity: 0;
}
